body {
    font-family: monospace;
}

table {
    width: 100%;
    border: solid;
    border-collapse: collapse;
}

td {
    border-style: none solid solid none;
    font-size: xx-large;
    padding-left: 10px;
}

th {
    font-size: large;
    border-style: none solid;
    text-align: left;
    padding: 10px 15px;
}

.link:hover {
    color: indigo;
}